*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #0d0e0f;
}

.main-wrapper {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [side-start] 8rem [side-end all-start] minmax(6rem, 1fr) [main-start] repeat(8, [column-start] minmax(min-content, 14rem) [column-end]) [main-end] minmax(6rem, 1fr) [all-end];
}

.mb-small {
  margin-bottom: 2rem;
}

.mb-medium {
  margin-bottom: 4rem;
}

.mb-large {
  margin-bottom: 8rem;
}

.text-primary {
  color: #9a968a;
}

.text-secondary {
  color: #b5cedf;
}

.title-4, .title-3, .title-2 {
  font-family: "Lobster", cursive;
  font-weight: 400;
  letter-spacing: 2px;
}

.title-2 {
  font-size: 3.5rem;
}

.title-3 {
  font-size: 3rem;
}

.title-4 {
  font-size: 1.9rem;
}

.sidebar {
  background-color: #9a968a;
  grid-column: side-start/side-end;
  grid-row: 1/-1;
}

.header {
  background-color: #0d0e0f;
  color: white;
  grid-column: all-start/column-end 6;
}

.architects {
  background-color: #4e4b49;
  grid-column: column-start 7/all-end;
}

.features {
  grid-column: main-start/main-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
  grid-gap: 6rem;
  align-items: center;
  margin: 15rem 0;
}

.feature-card {
  display: grid;
  grid-template-rows: repeat(3, mincontent);
  grid-row-gap: 1.5rem;
}
.feature-card__title {
  justify-self: center;
}
.feature-card__icon {
  width: 5rem;
  height: 5rem;
  fill: #9a968a;
  justify-self: center;
}
.feature-card__text {
  font-size: 1.3rem;
  text-align: justify;
}

.story__detail {
  grid-column: all-start/column-end 4;
  background-color: #eaeaea;
  display: grid;
  align-content: center;
  justify-items: start;
  padding: 4rem;
}
.story__text {
  font-size: 1.7rem;
}
.story__btn {
  padding: 1rem 4rem;
  display: block;
  justify-self: center;
  background-color: transparent;
  color: #0d0e0f;
  border: 1px solid rgba(13, 14, 15, 0.6);
  font-size: 2rem;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.5s, color 0.6s;
}
.story__btn:hover {
  background-color: #b5cedf;
  border-color: #b5cedf;
  color: #4e4b49;
}
.story__photos {
  grid-column: column-start 5/all-end;
  background-image: linear-gradient(to right, rgba(181, 206, 223, 0.1), rgba(197, 221, 237, 0.5));
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-items: center;
  padding: 0 1rem;
}
.story__photos--1 {
  width: 100%;
  grid-row: 1/-1;
  grid-column: 1/-1;
}
.story__photos--2 {
  width: 100%;
  grid-row: 1/3;
  grid-column: 2/6;
}
.story__photos--3 {
  width: 100%;
  grid-row: 5/-1;
  grid-column: 1/3;
}
.story__photos--4 {
  width: 100%;
  grid-row: 5/-1;
  grid-column: 5/-1;
}

.homes {
  grid-column: main-start/main-end;
  margin: 16rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  grid-gap: 9rem;
}

.home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.home__image {
  width: 100%;
}
.home__container {
  padding: 1.5rem 2rem;
  background-color: #4e4b49;
  color: #eaeaea;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}
.home__name, .home__price, .home__btn {
  grid-column: 1/-1;
}
.home__location, .home__deliver, .home__price {
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home__location svg, .home__deliver svg, .home__price svg {
  width: 2rem;
  height: 2rem;
  fill: #b5cedf;
}
.home__deliver {
  grid-column: 2/-1;
}
.home__price {
  justify-content: center;
}
.home__btn {
  display: block;
  width: 100%;
  padding: 1.3rem 0;
  background-color: #b5cedf;
  color: #4e4b49;
  border: none;
  outline: none;
  font-size: 1.9rem;
  cursor: pointer;
  transition: all 0.3s;
}
.home__btn:hover {
  background-color: #c5dded;
  color: #9a968a;
}

.gallery {
  background-color: #eaeaea;
  grid-column: all-start/all-end;
  display: grid;
  grid-template: repeat(7, 5vw)/repeat(8, 1fr);
  grid-gap: 1.8rem;
  padding: 1rem;
}

.photo-box--1 {
  grid-row: 1/span 3;
  grid-column: 1/span 4;
}
.photo-box--2 {
  grid-row: 4/6;
  grid-column: 1/span 2;
}
.photo-box--3 {
  grid-row: 4/-1;
  grid-column: 3/6;
}
.photo-box--4 {
  grid-row: 6/-1;
  grid-column: 1/span 2;
}
.photo-box--5 {
  grid-row: 1/span 2;
  grid-column: 5/7;
}
.photo-box--6 {
  grid-row: 4/6;
  grid-column: 7/-1;
}
.photo-box--7 {
  grid-row: 4/6;
  grid-column: 6/7;
}
.photo-box--8 {
  grid-row: 6/-1;
  grid-column: 6/-1;
}
.photo-box--9 {
  grid-row: 3/4;
  grid-column: 5/7;
}
.photo-box--10 {
  grid-row: 1/4;
  grid-column: 7/-1;
}
.photo-box__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  background-color: #b5cedf;
  grid-column: all-start/all-end;
}

/*# sourceMappingURL=style.css.map */
