$primary-color: #4e4b49;
$primary-color-2: #9a968a;

$secondary-color: #b5cedf;
$secondary-color-2: #c5dded;

$dark-color: #0d0e0f;
$white-color: #eaeaea;

$default-font: 'Nunito Sans', sans-serif;
$secondary-font: 'Frank Ruhl Libre', serif;
